.flat {
  flex: 1;
  padding-bottom: 125px;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__titleContainer {
    display: flex;
    & > h1 {
      color: #222;

      font-size: 64px;

      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.64px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}
