.project {
  position: relative;
  padding-top: 36px;
  padding-bottom: 40px;
  flex: 1;
  background-color: #0e0e0e;
  &__bg {
    pointer-events: none;
    position: absolute;
    background: url("/assets/ui/blockBg.webp");
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 7%;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 164px;
  }
  &__topContainer {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }
  &__leftSideTitleContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__leftSideContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__mainImg {
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  &__leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 153px;

    & h1 {
      color: #fff;

      font-size: 64px;

      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.64px;
    }
    & p {
      color: #f1f1f1;

      font-size: 14px;

      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0.28px;
    }
  }
  &__titleTablet {
    display: none;

    color: #fff;

    font-size: 44px;

    letter-spacing: -0.44px;

    text-align: center;

    margin-bottom: 60px;
  }
  &__topContent {
    display: flex;
    justify-content: space-between;
    gap: 253px;
    z-index: 1;
  }
  &__topContentPhone {
    display: none;
    flex-direction: column;
    gap: 35px;
  }
  &__topTextContainerPhone {
    display: flex;
    flex-direction: column;
  }
  &__topTextPhone,
  &__topGalleryNTextContainerPhone {
    & > p {
      color: #f1f1f1;

      font-size: 14px;

      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0.28px;
    }
  }
  &__topGalleryNTextContainerPhone {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__topImgNAdvContainerPhone {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1409px) {
  .project {
    &__topTextPhone{
      padding-bottom: 15px;
    }
    &__topContainer {
      gap: 18px;
    }
    &__topContent {
      gap: 24px;
    }
    &__mainImg {
      width: 332px;
      height: 502px;
    }
    &__leftSideTitleContainer {
      & > h1 {
        display: none;
      }
    }
    &__titleTablet {
      display: block;
    }
    &__leftSide {
      gap: 42px;
    }
  }
}
@media screen and (max-width: 767px) {
  .project {
    &__titleTablet {
      font-size: 40px;
      margin-bottom: 0;
    }
    &__mainImg {
      width: 213px;
      height: 322px;
    }
    &__topContent {
      display: none;
    }
    &__container {
      gap: 26px;
    }
    &__topContentPhone {
      display: flex;
    }
  }
}
@media screen and (max-width: 350px) {
  .project {
    &__mainImg {
      width: 175px;
    }
  }
}
