.contentWithSlider {
  display: flex;
  flex-direction: column;
  &__sliderImg {
    width: 100%;
    height: 554px;
    object-fit: cover;
  }
  &__titleContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > h2 {
      font-size: 48px;

      font-weight: 400;
      line-height: normal;
    }
    & > p {
      font-size: 14px;
      width: 500px;
      font-weight: 300;
      line-height: 18px;
      letter-spacing: 0.28px;
    }
  }
}
@media screen and (max-width: 1409px) {
  .contentWithSlider {
    gap: 59px;
    &__sliderImg {
      height: 284px;
    }
    &__titleContainer {
      & > h2 {
        font-weight: 300;
      }
      & > p {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .contentWithSlider {
    gap: 32px;
    &__sliderImg {
      height: 212px;
    }
    &__titleContainer {
      & > h2 {
        font-size: 36px;
      }
    }
  }
}
