.houseInteriorDesign {
  flex: 1;
  &__header {
    display: flex;
    position: relative;
    margin-bottom: 100px; 
    font-weight: bold;
  }

}
.topSection {
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__top {
    display: flex;
    gap: 300px;
    & h1 {
      color: #222;

      font-size: 40px;

      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.64px;
    }
  }
  &__projectItem {
    display: flex;
    justify-content: space-between;
    padding: 15px 13px;

    gap: 20px;

    border-radius: 2px;
    border: 1px solid #222;
    background: rgba(255, 255, 255, 0);
    justify-content: space-between;

    & > span {
      color: #222;
      font-size: 16px;
      letter-spacing: 0.32px;
    }
  }
  &__projectsContainer {
    flex: 56%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
    & > div:not(:first-child) {
      display: flex;
      gap: 15px;
    }
  }
  &__bottom {
    display: flex;
    gap: 552px;
    padding-left: 124px;

    align-items: flex-end;

    & > p {
      color: #222;

      font-size: 14px;

      line-height: normal;
    }
    & span {
      padding-right: 125px;

      text-wrap: nowrap;
      color: #222;

      font-size: 24px;

      line-height: normal;
      text-transform: uppercase;

      border-bottom: 1px solid black;
    }
  }
}
@media screen and (max-width: 1409px) {
  .topSection {
    gap: 24px;
    &__top {
      flex-direction: column;
      gap: 24px;
      & h1 {
        font-size: 40px;
      }
    }
    &__projectsContainer {
      align-items: flex-start;
    }
    &__bottom {
      gap: 0;
      padding: 0 27px;
      & > a {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .topSection {
    &__top {
      gap: 12px;
    }
    &__projectsContainer {
      & > div {
        flex-direction: column;
      }
    }
  }
}
