.header {
  position: absolute;
  top: 20px;
  width: 100%;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    & > ul {
      display: flex;
       
      gap: 60px;
      & a {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 20px;
    & > svg {
      display: none;
    }
    & > p {
      color: rgb(0, 0, 0);
      font-size: 14px;
      font-weight: 500;
    }
  }
}
.headerWhite {
  padding: 32px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hamburger_menu {
  display: none;
  
}
.menu {
  &__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 7px;
    right: 10px;
    width: 26px;
    height: 22px;  
    cursor: pointer;
    & > span,
    & > span::before,
    & > span::after {
      background-color: #000000;
      display: block;
      position: absolute;
      width: 100%;
      height: 2px; 
      transition-duration: 0.25s;
    }
    
    & > span::before {
      content: "";
      top: -8px; 
    }
    & > span::after {
      content: "";
      top: 8px; 
    }
 
  }

  
  
  &__box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    margin: 0;
    padding-top: 5px;
    list-style: none;
    text-align: center;
    background-color: #1d1d1d;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    transition: right 0.25s ease-in-out, visibility 0.25s ease-in-out;
    & > li {
      align-self: flex-end;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;

    font-size: 32px;
    font-weight: 500;
  }
}

#menu__toggle {
  opacity: 0; 
  
  &:checked ~ .menu__btn {
    position: fixed;
    top: 20px;  
  }
  &:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  &:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  &:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  &:checked ~ .menu__box {
    visibility: visible; 
    z-index: 2;
    right: 0;
  }
}

@media screen and (max-width: 1409px) {
  .header {
    &__container {
      & > img {
        width: 143px;
        height: 38px;
      }
    }
    &__right {
      & > p {
        display: none;
      }
      & > svg {
        display: block; 
      }
    }
    &__nav {
      & > ul {
        gap: 32px;
        align-items: center;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    &__right,
    &__nav {
      display: none;
    }
  }
  .hamburger_menu {
    display: block;
  }
}
@media screen and (max-width: 484px) {
  .menu {
    &__item {
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 414px) {
  .menu {
    &__box {
      div {
        flex-direction: column;
        align-items: end;
        gap: 10px 0;
      }
    }

    &__item {
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 346px) {
  .menu {
    &__item {
      font-size: 20px;
    }
  }
}
