.fullGalleryBtn {
  align-self: flex-start;
  color: #fff;

  font-size: 14px;

  letter-spacing: 0.28px;

  padding: 7px 9px;
  border: 1px solid white;
  background: #f1f1f121;
  border-top-right-radius: 5px;
}
