.individualProjecting {
  padding-bottom: 91px;
  flex: 1;

  &__container {
    display: flex;
    gap: 60px;
  }
  & h1 {
    color: #222;
    font-size: 40px;

    line-height: normal;
    letter-spacing: -0.64px;
  }
  &__content {
    display: flex;
    gap: 27px;
    flex-wrap: wrap;
  }

  &__header {
    display: flex;
    position: relative;
    margin-bottom: 100px; 
    font-weight: bold;
  }
}
@media screen and (max-width: 1409px) {
  .individualProjecting {
    padding-bottom: 40px;
    &__container {
      flex-direction: column;
      gap: 13px;
    }
    &__content {
      gap: 12px;
    }
    & h1 {
      font-size: 40px;
    }
  }
}
@media screen and (max-width: 767px) {
  .individualProjecting {
    &__container,
    &__content {
      gap: 8px;
    }
  }
}
