.constructionOfCottagesAndVillas {
  flex: 1;
  display: flex;
  gap: 60px;
  padding-bottom: 64px;
  padding-left: 112px;

  &__imgsContainer {
    flex: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    & > img {
      width: 100%;
      height: 724px;
      object-fit: cover;
    }
    & > img:first-child {
      border-radius: 8px 0px 0px 0px;
    }
    & > img:nth-child(n + 6):nth-child(-n + 10) {
      display: none;
    }
  }
  &__contentContainer {
    width: 494px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__titleContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & > h1 {
      color: #222;

      font-size: 64px;

      font-weight: 600;
      line-height: normal;
      letter-spacing: -0.64px;
    }
    & > p {
      color: #222;

      font-size: 24px;

      line-height: normal;

      padding-right: 140px;
    }
  }
  &__itemBgImg {
    position: absolute;
    left: -240px;
    z-index: -1;
  }
  &__itemContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 15px 0 25px 15px;

    border-radius: 8px;
    border-top: 1px solid #d3d3d3;

    border-right: 1px solid #d3d3d3;

    border-left: 1px solid #d3d3d3;

    background: #fff;
    & h2 {
      color: #222;

      font-size: 24px;

      font-weight: 400;
      text-transform: uppercase;
    }
  }
  &__itemFirstTopContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 63px;
    & p {
      color: #717171;

      font-size: 14px;

      font-weight: 300;
      line-height: normal;
    }
  }
  &__itemFeaturesContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;

    padding-right: 63px;
    &__oneLine {
      flex-direction: column;
      flex-wrap: nowrap;
    }
    &__twoColums {
      padding: 0;
      & > div {
        flex: 40%;
      }
    }
    &__finishWorksFirstContainer {
      padding: 0;
    }
  }
  &__itemFeature {
    flex: 30%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    & > p {
      text-wrap: balance;
      color: #222;

      font-size: 14px;

      line-height: normal;
    }
  }
  &__itemFeatureLine {
    width: 15px;
    height: 1px;
    background: black;
    border-radius: 30px;
  }
  &__itemFloors,
  &__itemGetHelp,
  &__itemWalls,
  &__itemCelling {
    color: #d3d3d3;

    font-size: 12px;
    border-bottom: 1px solid #d3d3d3;
  }
  &__itemWalls,
  &__itemCelling,
  &__itemFloors {
    width: 100%;
    text-align: end;
  }
  &__itemGetHelp {
    align-self: flex-end;
    padding-right: 71px;
  }
}
@media screen and (max-width: 1409px) {
  .constructionOfCottagesAndVillas {
    padding-left: 35px;
    gap: 29px;
    &__titleContainer {
      & h1 {
        font-size: 40px;
      }
    }
    &__contentContainer {
      gap: 18px;
    }
    &__imgsContainer {
      padding-top: 269px;
      flex: 50%;
      gap: 27px;
      & > img {
        height: 306px;
      }
      & > img:nth-child(n + 6):nth-child(-n + 10) {
        display: block;
      }
    }
    &__itemFeaturesContainer {
      gap: 10px;
    }
  }
}
@media screen and (max-width: 767px) {
  .constructionOfCottagesAndVillas {
    padding: 0 12px;
    &__imgsContainer {
      display: none;
    }
    &__itemContainer {
      padding-right: 15px;
    }
    &__itemFeaturesContainer {
      padding-right: 0;
    }
    &__itemFirstTopContainer {
      padding-right: 15px;
    }
    &__contentContainer {
      & p {
        padding-right: 13px;
      }
    }
  }
}
